<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../../Styles/Style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<header class = "header">
    <img src = "../../Styles/Logo/istu-logo.png"/>
    <div class = "container">
        <div class ="header_logo">Многофункциональный центр ИжГТУ</div>
        <div class = "header__inner">
            <nav class="nav">
                <a class="nav__link" href="../Main.html">Главная</a>
            </nav>
        </div>
    </div>
</header>

<div class = "intro">
    <div class ="container"></div>
</div>
<main>
    <div class="form-control-text">
        <h1>Здрасте</h1>
    </div><br>

    <form ENCTYPE="multipart/form-data" action="/HTML_TEST/Php/temp.php" method="POST">

        <div class="form-control">
            <label>Параграф
            </label></div>

        <div class="form-control">
            <input class ="none" value="15,23," name="3_textinput[]">
            <label>вопрос</label>
            <input maxlength="20" name="3_textinput[]" type="text" >
        </div><br>
        <div class="form-control">
            <input class = "none" value="check-box" name="4_checkbox[]">
            <label>Вопрос2</label>
            <label><input value="16, 24" name="4_checkbox[]" type="checkbox">
                Вариант 1</label>
            <label><input value="16, 25" name="4_checkbox[]" type="checkbox">
                Вариант 2</label>
            <label><input value="16, 26" name="4_checkbox[]" type="checkbox">
                Вариант 3</label>
        </div><br>
        <div class="form-control">
            <input class = "none" value="check-box-dop" name="5_checkbox[]">
            <label>Вопрос3</label>
            <label><input value="17, 27," name="5_checkbox[]" type="checkbox">
                Вариант 1</label>
            <label><input value="17, 28," name="5_checkbox[]" type="checkbox">
                Вариант 2</label>
            <label><input value="17, 29," name="5_checkbox[]" type="checkbox">
                Вариант 3</label>
            <div class = "form-other"><input value="17, 30," name="5_checkbox[]" type="checkbox">
                <input name="5_checkbox[]" maxlength="20" type="text" placeholder="Ваш вариант">		</div>
        </div><br>
        <div class="form-control">
            <label>Вопрос4</label>
            <label><input value="18,31" name="6_radio" type="radio">
                Вариант 1</label>
            <label><input value="18,32" name="6_radio" type="radio">
                Вариант 2</label>
            <label><input value="18,33" name="6_radio" type="radio">
                Вариант 3</label>
        </div><br>
        <div class="form-control">
            <input class = "none" value="radio-dop" name="7_radio[]">
            <label>Вопрос5</label>
            <label><input value="19, 34," name="7_radio[]" type="radio">
                Вариант 1</label>
            <label><input value="19, 35," name="7_radio[]" type="radio">
                Вариант 2</label>
            <label><input value="19, 36," name="7_radio[]" type="radio">
                Вариант 3</label>
            <div class = "form-other"><input value="19, 37," name="7_radio[]" type="radio">
                <input name="7_radio[]" maxlength="20" type="text" placeholder="Ваш вариант">
            </div>
        </div><br>

        <input type="submit" value="Отправить">
    </form>
    <footer>
        <br><br>
    </footer>
</main>
</body>
</html>
