* {
    font-family:  Cuprum, "Open Sans",sans-serif  !important;
    scr:url("/Fonts/Cuprum.ttf");
    format("Cuprum Bold");
    font-style: normal;
    }

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background:url(Logo/header_back.png) center, no-repeat;

}
.header_logo{
    top: 10px;
    right: 0px;
    left: 0px;
    position: absolute;
    font-size: 40px;
    color: white;
    text-align: center;
}
/*.header__inner{
    display: flex;
    justify-content: space-around;
}*/

body{
    margin: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
/*Container*/
.container {
    transition: max-height 0.2s;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.intro{
    width: 100%;
    height: 24vh;
    background-size: cover;
}
.intro_title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
/* NAvigation*/
.nav{
    font-size: 40px;
    padding-top: 150px;
    width: 20%;
}
.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0px 10px;

    color:#fff;
    text-decoration: none;

    transition: color .2s linear;
}
.nav__link:hover{
    color: red;
}
.centre__nav{
    font-size: 26px;
    margin: 20px 0px;
}
.centre__nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0px 10px;

    color:black;
    text-decoration: none;

    transition: color .2s linear;
}
.centre__nav__link:hover{
    color: red;
}
.spravkaref__nav{
    font-size: 26px;
    margin: 5px 0px;
}
.spravkaref__nav:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f007";
    color: #0048ff;

}
img{
    height: 230px;
    width: 235px;
    float:left;
}
.Main
{
    color: white;
    font-size: 200%;
    text-align: center;
    top: 5px;
}
h1 {
    font-size: 40px;
    text-align: center;
}
main {
    width: 900px;
    height: 120px;
    margin: 0 auto;
    background-color: white;
    padding: 20px 20px 20px 20px;
}
input[type=text], select {
    float: right;
    padding: 0px 10px;
    box-sizing: border-box;
    height: 30px;
    width: 50%;
    resize: vertical;
}

p{
    color:black;
    font-size: 20px;
    text-align: left;
    top: 50px;
}
.kek
{
    color: Red;
}
.input__file {

    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.input__file-button{
    float: right;
    background-color: #0048ff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    height: 35px;
    width: 150px;
    text-align: center;
}
.input__file-button-text
{
    font-size: 15px;
}


input[type=submit] {
    background-color: #0048ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
.none
{
    display: none;
}

.info {
    background-color: #f9f9ff;
    padding: 10px 25px;
}

.info__switch {
    display: none;
}

.info__body {
    max-height:0;
    overflow: hidden;
    transition: 0.4s;
}

.info__switch:checked~.info__body {
    max-height: 100px;
}

.info__headline::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    border: 6px solid #39739d;
}

.info__switch:checked~.info__headline::before {
    transform: rotate(180deg) translateY(6px);
}
