@{
    ViewData["Title"] = "Home Page";
}

<h1>Заявка на получение справок и выписок</h1>
  <form >

    <p>Имя<span class="kek">*</span><label>
      <input required type = "text" name = "name">
    </label></p>

    <p>Фамилия<span class="kek">*</span><label>
      <input required type = "text" name = "surname">
    </label></p>



    <input type="submit" value="Отправить">